html, body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
   background:linear-gradient(rgba(14, 17, 23, 0.9), rgba(14, 17, 23, 0.9)),
    url('https://images.pexels.com/photos/210182/pexels-photo-210182.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #E0E0E0;
  height: 100%;
  color: #E0E0E0;
  font-family: 'Poppins', sans-serif;
}

 header{
            display: flex;
            align-items: center;
            flex-direction: column;
          
        }
        a{
          text-align: center;
            background-color: #2F80ED;
            color: #E0E0E0;
            text-decoration: none;
            margin: 3px;
            padding: 5px;
            border-radius: 5px;
        }

        a:hover{
            color: black;
            background-color: aliceblue;
            transition: 0.3s;
        }


         button{
            width: 125px;
            background-color: #2F80ED;
            color: #E0E0E0;
        }

        button:hover{
            color: black;
            background-color: aliceblue;
            transition: 0.3s;
            cursor: pointer;
        }

        @media (max-width: 768px) {
        header h1 {
         font-size: 1.6rem;
            }

         nav a {
            display: block;
             margin: 8px 0;
            }

         canvas {
            height: 300px !important;
  }

        #resumo {
            font-size: 0.95rem;
            margin-bottom: 30px;
  }
}

        @media (max-width: 480px) {
        .card {
    padding: 12px;
    font-size: 0.9rem;
  }

        button {
    width: 100%;
  }
}
